[Bb]in
obj
*.bak
*.suo
*.dotCover
*.csproj.user
*.ncrunchproject
*.ncrunchsolution
*.crunchproject.local.xml
*.crunchsolution.cache
*.crunchsolution.local.xml
*.ncrunchsolution.user
*.dxcache
*.sln.DotSettings.user
Thumbs.db
*.csproj.user
.vs
TestResults
.nuget
.vs
app_data
.idea
*.Personal.*

node_modules

tmp/**/*